@import 'module';

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg-body;
    display: flex;
    min-height: 100vh;
    @include center;
}

//template style start
.container {
    margin: 50px;
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: $primary;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);

    .left-side {
        background: $fourthly;
        @include sidePosition;
    }

    .right-side {
        background: $primary;
        @include sidePosition;
    }
}

h2 {
    @include title;
    font-weight: 700;
}
//left-side style start
#name{
    @include title;
    font-weight: 700; 
    span {
        font-size: 0.8em;
        font-weight: 300;
        color: $primary;
        margin-top: 0em;
        margin-bottom: 0em;
        text-transform: none;
        text-align: center;
        line-height: 1em;
        letter-spacing: 0px;

    }
}
.profile-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    @include secession;

    .imgBx {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 3px solid $primary ;
        overflow: hidden;
    }
}



.contactInfo {
    padding-top: 40px;
    font-size: 0.9em;
    font-weight: 300;
    color: #fff;
    line-height: 2em;
    display: block;

    li {
        color: $primary;
        font-size: 0.9em;
        font-weight: 300;
        line-height: 2em;
        display: block;
        list-style: none;

        a {
            text-decoration: none;
            color: $primary;
        }

        .icon {
            /* display: inline-block; */
            width: 10px;
            font-size: 1rem;
            color: darkgoldenrod;
        }
    }
}

.education li {
    list-style: none;
    margin-bottom: 15px;
}

.education li h5 {
    color: darkgoldenrod;
    font-weight: 500;

}

.education li h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.education li h4 {
    color: #fff;
    font-weight: 300;
}

.language{
li{
    list-style: none;
     }
.percent {
    position: relative;
    width: 100%;
    height: 6px;
    background:$fifthly;
    display: block;
    margin-top: 5px;
    border-radius: 2px;
    div {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: darkgoldenrod;
    }
}
}

//left-side style end

//right-side style start

.about{
    margin-bottom: 50px;
    &:last-child{
        margin-bottom: 0;
    }
    .title{
        @include title;
        color: black;
    }
    p{
        color: $fifthly;
    }
}

 .about .box{
     display: flex;
     flex-direction: row;
     margin: 20px 0;
     .year-compagny{
         min-width: 150px;
         h5{
             text-transform: uppercase;
             color:$fourthly;
             font-weight: 600;
         }
     }
     .text h4{
       text-transform: uppercase;
       color: darkgoldenrod;
       font-weight: 800;
       font-size: 16px;
       a{
           text-decoration: none;
           color: darkgoldenrod;
       }
     }
 }
 
 .skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;

}
.skills .box{
    h4{
        text-transform: uppercase;
        color: $fourthly;
        font-weight: 500;
    }
    .percent{
        position: relative;
        width: 100%;
        height:10px ;
        background:$fifthly;
        border-radius: 2px;
        div{
            position: absolute;
            top: 0;
            left: 0;
            height:100%;
            background: darkgoldenrod;
        } 
    }
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    li{
        list-style: none;
        color: #52575D;
        font-weight: 500;
        margin: 10px 0;
    }
    .fa{
        color: darkgoldenrod; 
        font-size: 18px;
        width: 20px;
      }

}
.community{
    &--element{
        text-align: center;
        ul{
            display:grid;  
            grid-template-columns: repeat(3,2fr);
            li{
                list-style: none;
                color: $fifthly;
                font-weight: 500;
                p{
                    margin: 10px 0;
                }
                
                
            }
        }
    }
}
//right-side style end

//responsive
@media(max-width:1000px){
    .container{
        margin:10px ;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);

    }
}
@media(max-width:600px){
    .about .box{
        flex-direction: column;
    }
    .about .box .year-compagny{
        min-width: 150px;
        margin-bottom: 5px;
    } 
    .interest ul{
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }
}